body {
    height: 70vh;
    background: #1A254D;
    padding: 100px;
    font-family: Inter, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#timers {
    display: flex;
    justify-content: space-around;
}

.timer {
    margin: 0 15rem;
}

.team-title {
    font-size: 1.5rem;
}

.time {
    font-size: 7rem;
    font-variant-numeric: tabular-nums;
}

#time-1 {
    /* make users unable to highlight text */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
#time-2 {
    /* make users unable to highlight text */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#prompt {
    font-size: 4rem;
}

#button {
    padding: 1.5rem 5rem;
    border-radius: 3rem;
    background: #CE4257;
    font-size: 2rem;
    /* make users unable to highlight text */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}